/* ================== Reset & Global ================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: logo;
  src: url(../DancingScript-VariableFont_wght.ttf);
}

body {
  overflow-x: hidden;
}

/* ================== Section One / Hero ================== */
.section-One {
  height: 100vh;
  background: url(../img/hero-bg.jpg) center/cover no-repeat;
  position: relative;
}

.logo {
  font-family: logo;
  cursor: pointer;
}

ul li.nav-item {
  background: transparent;
}

.icons i {
  padding-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.icons i:hover,
.navbar-nav .first-link {
  color: #ffbe33 !important;
}

h3,
.text-contet h1,
.contet-sale p,
.contet-sale h3,
.par-content h4 {
  font-family: logo;
}

.nav-link {
  padding: 8px 20px !important;
  margin: 10px !important;
  cursor: pointer;
}

.nav-pills .nav-link.active {
  background: #222831;
}

.btn {
  background: #ffbe33;
}

.btn:hover {
  background: #fbad05;
}


/* ================== Carousel Indicators ================== */
.carousel-indicators {
  justify-content: start !important;
}
.carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-inner{
min-height: 50vh;
}
.carousel-indicators button.active {
  background: #e19a00;
}

.text-contet p {
  letter-spacing: 1px;
}

/* ================== Tester / Sale Section ================== */
.tester .pern:hover .img-sale img {
  transform: scale(1.2);
}

.img-sale {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #e19a00;
}

.img-sale img {
  transition: transform 1s;
}

/* ================== Menu Section ================== */
.card {
  height: 500px;
}

.img-card img {
  height: 200px;
  width: 200px;
  transition: transform 1s;
}

.img-card:hover img {
  transform: scale(1.2);
}

.optins i {
  background: #e19a00;
  padding: 10px !important;
}

/* ================== Book Table Section ================== */
.sec-three {
  background: #222831;
  color: #fff;
  
}

.parente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.pare img {
  max-width: 305px;
}

.par-content h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.par-content p {
  margin-bottom: 20px;
}

.parent-book form input,
.parent-book form select {
  width: 100%;
  padding: 20px;
  margin-bottom: 38px;
}

/* ================== Customers / About Animation ================== */
@keyframes child {
  0% {
    left: 100%;
  }

  10%,
  90% {
    left: 0;
  }

  99% {
    left: -110%;
  }

  100% {
    left: -120%;
  }
}
.carousel-fade .carousel-item {
  opacity: 0;
}


.carousel-fade .carousel-item.active {
  opacity: 1;
}

.child-about {
  height: 50vh;
  animation: child 10s infinite ease-in-out;
  position: relative;
  margin: auto;
}

.img-about {
  padding-top: 10px;
  position: relative;
  transform: translateY(30%);
}

.img-about img {
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid #ffbe33;
}

.img-about::after {
  content: "";
  position: absolute;
  height: 23px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffbe33;
  transform: translate(-306%, -10%);
}
